NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBXXdtz_I6b_3fsfdzkqPA22Z8lnMvuQBU"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="react-rest-client.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="react-rest-client"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="react-rest-client.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="313475969534"
NEXT_PUBLIC_FIREBASE_APP_ID="1:313475969534:web:448ff07482fd99615fd0af"