@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accentcolor: #7b7979;
  --font-sans: 'Arial', sans-serif;
  --font-mono: 'Courier New', monospace;
}

:root.theme-dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accentcolor: #7b7979;
}

:root.theme-light {
  --background: #f0f0f0;
  --foreground: #1c1c1c;
  --accentcolor: #095964;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accentcolor: #7b7979;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--background);
  color: var(--foreground);
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition:
    background-color 0.3s ease,
    padding 0.3s ease;
  z-index: 10;
}

.header.sticky {
  background-color: var(--accentcolor);
  padding: 0.5rem 2rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: var(--foreground);
  font-family: var(--font-sans);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  border-radius: 8px;
}

.nav-link:hover {
  color: var(--background);
  background-color: var(--accentcolor);
}

.nav-link:active {
  background-color: var(--foreground);
  color: var(--background);
}

.btn {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  border: 1px solid var(--foreground);
  padding: 0.4rem 1rem;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  border-radius: 8px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: var(--foreground);
  color: var(--color-background);
  transform: scale(1.05);
}

.btn:active {
  background-color: var(--background);
  color: var(--foreground);
  transform: scale(1);
}

.footer {
  background-color: var(--accentcolor);
  color: #ffffff;
  padding: 0.5rem;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-copyright {
  margin-right: 10px;
}

.footer a {
  color: #bbb;
  text-decoration: none;
}

.footer a:hover {
  color: #ffffff;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--accentcolor);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
}

.welcome-sign {
  font-size: 1.5rem;
}

.auth-links,
.client-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .main-content {
    padding: 10px;
  }

  .btn {
    width: 100%;
  }
}
