@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accentcolor: #7b7979;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Arial', sans-serif;
  --font-mono: 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accentcolor: #7b7979;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
}

.header {
  background-color: var(--color-background);
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-foreground);
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav-btn {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  border: 2px solid var(--color-foreground);
  padding: 0.4rem 1rem;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
  text-decoration: none;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
}

.nav-btn:hover {
  background-color: var(--color-foreground);
  color: var(--color-background);
  transform: scale(1.05);
}

.nav-btn:active {
  background-color: var(--color-background);
  color: var(--color-foreground);
  transform: scale(1);
}

.footer {
  background-color: var(--accentcolor);
  color: #ffffff;
  padding: 2rem;
  text-align: center;
}

.footer a {
  color: #bbb;
  text-decoration: none;
}

.footer a:hover {
  color: #ffffff;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--accentcolor);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
}

.welcome-sign {
  font-size: 1.5rem;

}

.auth-links,
.client-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .main-content {
    padding: 10px;
  }

  .nav-btn {
    width: 100%;
  }
}
